name: "build-test"
on: # rebuild any PRs and main branch changes
    push:
      tags: ["*"]
    release:


jobs:
    build: # make sure build/ci work properly
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - run: |
                  npm ci
            - run: |
                  npm run all
    test: # make sure the action works on a clean machine without building
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Perform Get Tag
              id: tag
              uses: ./

            - name: Output
              run: |
                  echo "RELEASE: ${{steps.tag.outputs.release}}"
                  echo "TAG ${{steps.tag.outputs.tag}}"
                  echo "VERSION ${{steps.tag.outputs.version}}"
                  echo "MAJOR ${{steps.tag.outputs.major}}"
                  echo "MINOR ${{steps.tag.outputs.minor}}"
                  echo "PATCH ${{steps.tag.outputs.patch}}"
